@charset "utf-8";

body {
  margin: 0;
  cursor: url(images/pacchi/cursor.cur), auto;
}

.vertical-text {
  width: 100%;
  height: 75%;
  font-family: "Yuji Syuku";
  line-height: 1.5;
  font-size: 25px;
  writing-mode: vertical-rl;
}


.quote-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #C0E6F9;
  opacity: 0;
  animation: displayQuote 3s linear forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.quote-box {
  height: 100%;
  width: 30%;
  background-color: #e8d79d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box p {
  display: block;
  margin: 0 auto;
  height: 90%;
  width: fit-content;
  text-align: initial;
}

.animation-wrapper {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgb(237, 237, 237);
  width: 600px;
  height: 600px;
}

.animation-container {
  position: absolute;
  /*background-color: #FBCA1F;*/
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 300px;
  /* 画像の幅を調整 */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image1 {
  left: 40%;
  top: 25%;
  animation: moveAndFade1 3s linear forwards;
}

.image2 {
  left: 50%;
  top: 50%;
  animation: moveAndFade2 3s linear forwards;
}

.image3 {
  left: 40%;
  top: 75%;
  animation: moveAndFade3 3s linear forwards;
}

/*ボタン要素*/

.button-area {
  display: flex;
}

.restart-button {
  margin: auto;
  width: fit-content;
}

.restart-button {
  background: #FBCA1F;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

.restart-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.restart-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

/* SNSボタン全体 */
.sns-button {
  bottom: 20px;
  margin: 3px;
  padding: 0px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  list-style: none;
  overflow: visible;
  padding: 0;
}

/* 各 SNS ボタンのボックス */
.sns-button li {
  display: inline-block;
  margin: 7px;
  padding: 0px 0px;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.sns-button li a::before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 20px;
  background-color: #fff;
  border-radius: 4px;
  transition: all .3s ease;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 1px;
}


.sns-button .twitter a::before {
  content: "\f099";
  color: #55acee;
}

.sns-button .twitter a:hover::before {
  background-color: #55acee;
  color: #fff;
}

figure.my-stamp {
  position: absolute;
  left: 30%;
  bottom: 8%;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  z-index: 99999;
  /* スタンプアニメーションのための初期値 */
  visibility: visible;
  opacity: 0;
}

.my-stamp img.stamp2 {
  width: 100px;
  height: 100px;
  display: inline-block;
  color: #c00;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.0;
  border-radius: 50%;
}


@keyframes moveAndFade1 {

  0%,
  25% {
    opacity: 0;
  }

  26%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

@keyframes moveAndFade2 {

  0%,
  50% {
    opacity: 0;
  }

  51%,
  75% {
    opacity: 1;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes moveAndFade3 {

  0%,
  75% {
    opacity: 0;
  }

  76%,
  84% {
    opacity: 1;
  }

  85%,
  100% {
    opacity: 0;
  }
}

@keyframes displayQuote {
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    z-index: 10;
  }
}


/* アニメーションのキーフレームを定義 */
@keyframes slideUp {
  0% {
    transform: translateY(200%);
    /* 下方向に100%移動（初期位置） */
  }

  100% {
    transform: translateY(0%);
    /* 下方向に0%移動（最終位置） */
  }
}

/* アニメーションを要素に適用 */
#mountain-wrap {
  position: absolute;
  opacity: 0;
  height: 70vh;
}

#mountain-wrap.slide-up {
  opacity: 1;
  /* アニメーションのプロパティを指定 */
  animation: slideUp 5s forwards;
}

.background-container {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@keyframes sunriseAnimation {
  0% {
    opacity: 0;
    transform: translateY(300%);
    background: #ffcc00;
    /* 太陽の色 */
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.8);
    /* 太陽の影 */
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(100%);
    background: #ffcc00;
    /* 太陽の色 */
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.8);
    /* 太陽の影 */
  }
}

#sunrise-container {
  opacity: 0;
  width: 200px;
  /* 太陽の直径 */
  height: 200px;
  /* 太陽の直径 */
  border-radius: 50%;
  /* 太陽を円形にする */
  /* 太陽の初期色 */

  margin-left: 85px;

}

#sunrise-container.sunrise {
  animation: sunriseAnimation 5s ease-out forwards;
  animation-delay: 2s;
  /* アニメーションのプロパティを指定 */
}